body {
  font-size: 18px;
}

.lead {
	font-weight: 300;
}

.label-install {
  @include border-bottom-radius(0);
  background: lighten($link-color, 25%);
  font-size: 90%;
  + pre {
    margin-top: 0 !important;
    @include border-top-left-radius(0);
  }
}

pre.large {
  margin: 30px 0;
  font-size: 1em;
  background: lighten($link-color, 50%);
  border-color: lighten($link-color, 25%);
  &:before {
    content: "$ ";
    font-weight: bold;
    color: #999;
  }
}

.help-block {
  font-size: 75%;
}
