// Brand
$body-bg:                          #e8eaf0;
$brand-primary:                    #f8a644;

$link-color:                       #32749f;

// Basics of a navbar
$navbar-default-bg:                #f8a644;
$navbar-default-border:            darken($navbar-default-bg, 10%);

// Navbar links
$navbar-default-link-color:        #fff;
$navbar-default-link-hover-color:  #fff;
$navbar-default-link-active-color: #fff;
$navbar-default-link-active-bg:    darken($navbar-default-bg, 10%);

// Formatting
$font-family-sans-serif:           Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
$line-height-base:                 1.6;

// Code
// ------------------------
$code-color:                  #f86e64;
$code-bg:                     lighten($code-color, 28%);

// Thumbnails
$thumbnail-bg:                #fff;

// Alerts
$alert-padding:               30px;
$alert-border-radius:         0;
$alert-link-font-weight:      bold;

// States
$state-info-text:                #3a87ad;
$state-info-bg:                  #f0f7fd;
$state-info-border:              darken(adjust-hue($state-info-bg, -10), 7%);
